body{
    text-align: center;
    background-color: black;
}
h1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h1,h2,p,a{
    font-family: Verdana;
}
h2{
    font-weight: 300;
    font-size: 42px;
    color: white;
}
p{
    font-size: 21px;
    color: gray;
}
a{
    font-size: 21px;
    color: aquamarine;
}
footer{
    text-align: right;
    color: gray;
}
